{% extends 'app.html' %}

{% block title %}Fehler 403 - Nicht erlaubt{% endblock title %}

{% block app %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">404
                <small>Not Found</small>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1><span class="error-403">403</span>
                </h1>
                <p>Der Aufruf dieser Seite <strong>{{ request_path }}</strong> ist nicht erlaubt.</p>
                <ul>
                    <li>
                        <a href="/">Startseite</a>
                    </li>
                    <li>
                        <a href="/karte/">Zur Landkarte</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock app %}