Django==1.7
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.3
Unidecode==0.04.16
argparse==1.2.1
awesome-slugify==1.6
distribute==0.6.24
django-bootstrap3==4.11.0
django-geojson==2.6.0
django-haystack==2.2.1
django-nvd3==0.7.4
mbutil==0.2.0
nodeenv==0.11.0
psycopg2==2.5.4
python-memcached==1.53
python-nvd3==0.12.2
regex==2014.08.28
six==1.7.3
wsgiref==0.1.2
