{% extends 'base.html' %}

{% load static nvd3_tags %}

{% block extra_css %}
<link media="all" href="{% static 'nvd3/src/nv.d3.css' %}" type="text/css" rel="stylesheet" />
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'nvd3/nv.d3.min.js' %}'></script>
{% endblock extra_js %}



{% block app %}
{% load_chart charttype chartdata "piechart_container" extra %}
<h1>Aufteilung nach Betreibern</h1>
{% include_container "piechart_container" 400 500 %}
{% endblock app %}
